* {
  box-sizing: border-box;
}

.contact-wrapper {
  text-align: -webkit-center;
  padding: 0;
}

.form-section {
  padding-top: 0;
  margin-top: 10.75px;
}

.google-maps {
  text-align: -webkit-center;
  width: 100%;
  padding: 70px 0 50px 0;
}

.mapouter {
  width: 100%;
}

.gmap_canvas {
  width: 100%;
}

.companys-data-phone {
  text-align: center;
}
/* for columns text-align-last: end; */
.companys-data-section {
  padding-top: 0;
}

/*.companys-data-section .col-6, .col-3, .col-9 {
  text-align-last: end;
}*/

.left {
  margin-top: auto;
  margin-bottom: auto;
  text-align-last: end;
  padding-right: 10px;
}

.right {
  margin-top: auto;
  margin-bottom: auto;
  text-align-last: start;
  padding-left: 10px;
}

.companys-data-name {
  font-size: 17px;
  margin-bottom: 0;
}

.col-6 .logo {
  padding-right: 5px;
}

.icon-in {
  font-size: x-large;
  padding-right: 15px;
}


.form-section .section-title {
  //margin-left: 95px;
  font-size: 22px;
  font-weight: bold;
  margin: 0 0 30px 0;
}

.form-section form {
  text-align-last: none;
  padding: 0 25% 0 25%;
}

.form-section .field {
  font-size: 18px;
  /* dokończyć font-size na lewo i prawo w section-contact*/
}

button, input, optgroup, select, textarea {
  border-width: 2px;
  width: 100%;
  //height: 100px;
  text-align-last: start;
  //font-size: 80%;
  outline-color: $color-main;
  border-style: solid;
  border-color: rgb(133, 133, 133);

  &:hover {
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }
}

button:hover, input:hover, optgroup:hover, select:hover, textarea:hover {
  background-color: #f0f0f0;
}

.form-section textarea {
  height: 100px;
  border-width: 2px;

  &:hover {
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
  }
}
