/* global container options for top & bottom */
*, ::after, ::before {
  box-sizing: border-box;
}

.navigation-menu {
  position: fixed;
  z-index: 9;
  background-color: hsl(210, 10%, 23%)!important;
}

.nav-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 5px;
}

.main-nav {
  flex: 1 1;
}
.main-nav ul {
  margin: 0;
  display: flex;
}

.nav-container li {
  flex: 1 1;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.fixed-bottom, .hover-active {
  flex: 0 0 50%;
}
.show {
  display: block;
}

.hide {
  display: none;
}
