/* global container options for top & bottom */
*, ::after, ::before {
  box-sizing: border-box;
}

.navigation__contact_wrapper {
  margin-left: auto;
}

.navigation__contact_wrapper__col {
  margin: 5px 0 5px 0;
  padding: 0 5px 0 5px;
  text-decoration: none;
  font-size: small;
  border-right: 1px solid white;
  color: white;
  line-height: normal;
}

.navigation__contact_wrapper .row i {
  align-content: center;
  text-align: center;
  margin: auto 5px;
  margin-right: 10px;
  font-size: x-large;
}

.navigation__contact_wrapper .row .navigation__brand {
  display: inline-block;
  font-size: 20px !important;
  white-space: nowrap;
}

.navigation__contact_wrapper__col a {
  color: white;
  line-height: normal;
  margin-right: 5px;
  text-decoration: none;
}

.navigation__contact_wrapper__col i {
  margin-right: 5px;
  color: white;
}
