/* global container options for top & bottom */

.navigation {
  position: fixed;
  z-index: 9;
  background-color: hsl(210, 10%, 23%)!important;
  width: 100%;
  top: 0;
  left: 0;
}

.navigation__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
//today code
  flex-wrap: wrap;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.navigation__dropdown ul {
  margin: 0;
  display: flex;
}

.fixed-bottom, .hover-active {
  flex: 0 0 50%;
}

.show {
  display: block;
}

.hide {
  display: none;
}
