/* global container options for top & bottom */

.navigation__contact_wrapper__col {
  display: flex;
  margin: 7px auto 5px auto;
  padding: 0 5px 0 5px;
  text-decoration: none;
  font-size: small;
  color: white;
  line-height: normal;
}

.navigation__contact_wrapper .row img {
  align-content: center;
  text-align: center;
  margin: auto 5px;
  font-size: x-large;
}

.navigation__contact_wrapper .row .navigation__brand {
  display: inline-block;
  font-size: 18px !important;
  white-space: nowrap;
}

.navigation__contact_wrapper__col a {
  color: white;
  line-height: normal;
  margin-right: 12px;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

.street__and__code {
  font-style: normal;
  font-size: 9px;
}

.nav__svg__icon__top {
  filter: brightness(0) invert(1);
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.diamond_icon {
  margin-top: 5px !important;
}