/* bottom-bar */
.fixed-bottom {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1030;
  align-items: start;
  display: inline-table;
  max-width: 62px;
  width: 62px;
  padding: 0;
}

.nav-container ul {
  padding: 0;
  align-items: flex-end;
}

.nav-container li{
  display: inline-block;
  position: relative;
}

.nav-svg-icon {
  filter: brightness(0) invert(1);
  cursor: pointer;
  width: 25%;
  height: 50%;
}

/* #branch {
  width: 35%;
  padding: 0;
  margin: 0;
  height: 20px;
}

#home {
  padding: 0;
} */

/* #grinder {
  width: 35px;
} */

/* #photo {
  width: 60px;
} */

/* #phone {
  width: 25px;
} */

.nav-container ul ul {
  background-color: #3d3d3d;
}

.nav-container ul ul li {
  display: block;
  flex-wrap: nowrap;
  margin: auto;
  padding: 0;
}

.nav-container ul ul li a {
  margin: auto;
  line-height: 15px;
  height: 100px;
  display: -ms-grid;
  display: flex;
  text-align: -webkit-center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

.nav-svg-icon:hover {
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.start {
  font-size: large;
  color: white;
  text-decoration: none;
  //position: absolute;
  background-color: #3d3d3d;
  margin-right: 5px;
  padding: 15px;
  border: 1px solid #3d3d3d;
}

.start:hover {
  color: yellow;
  border: 1px solid  yellow;

  .nav-svg-icon {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
  }
} 

/* hover active */

.nav-container li ul {
  position: absolute;
  display: none;
}

.nav-container li:hover ul {
  //display: flex;
  display: block;
  width: -webkit-fill-available;
}

.nav-container ul li ul li a img {
  margin: auto;
  width: 45px;
  height: 50px;
  position: absolute;
  line-height: 5px;
}
