.price i {
    font-size: xx-large;
}
.price ol {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    margin-left: 100px;
}

.price li {
    min-height: 100px;
    max-width: 540px;
    list-style-type: none;
    text-align: center;
    border-left: 4px solid #eee;
    padding-left: 0;
    margin: 0 auto;
}

.price .text-left {
    text-align: left!important;
    //margin-left: 325px;
}

.price p {
    //border-left: 4px solid #eee;
    //margin: auto;
    max-height: 500px;
    padding: 0 25px 0 25px;
    max-width: 500px;
    width: 100%;
    height: 100%;
}

.steps::before {
    content: "";
    background: #02ac46;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: block;
    border: 4px solid #fff;
    position: relative;
    top: 40px;
    left: -14px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
