//* {border: 1px solid red;}
* {box-sizing: border-box;}

.col-1 {width: 8.334%; flex: 0 0}

.col-2 {width: 16.667%; flex: 0 0}

.col-3 {width: 25%; flex: 0 0}

.col-4 {width: 33.334%; flex: 0 0}

.col-5 {width: 41.667%; flex: 0 0}

.col-6 {width: 50%; flex: 0 0}

.col-7 {width: 58.334%; flex: 0 0}

.col-8 {width: 66.667%; flex: 0 0}

.col-9 {width: 75%; flex: 0 0}

.col-10 {width: 83.334%; flex: 0 0}

.col-11 {width: 91.667%; flex: 0 0}

.col-12 {width: 100%; flex: 0 0}

@media (max-width: 768px) {
    .col {
    max-width: 100%;
    float: none;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .col {
    max-width: 100%;
    float: none;
    }
}