@media(max-width: 767px) {
  @include grid('sm');
  
  /* Main section*/
  /* Header */
  .page-title {
    font-size: 30px;
  }

  .page-subtitle {
    font-size: 25px;
  }

  .hamburger-icon {
    width: 20px;
    height: 20px;
  }

  /* skills */
  .skills .skill-image {
    height: 100%;
  }

  .skills .skill-description {
    padding: 5px 5px 5px 55%;
  }

  .skill-right .skill-description {
    padding: 5px 55% 5px 5px;
    text-align: right;
  }

  .skills .text-lg {
    display: none;
  }

  .skills .text-sm {
    display: block;
  }

  /* portfolio */
  .portfolio .box {
    flex: 0 0 100%;
  }
}

@media(min-width: 425px) {
  .portfolio .box {
    flex: 0 0 50%;
  }
}

@media(min-width: 768px) {
  @include grid('md');
  /* main section */
  /* skills */
  .skills .text-sm {
    display: none;
  }
  /*portfolio */
  .portfolio .box {
    flex: 0 0 33.33333333333333%;
  }
}
    
@media(min-width: 992px) {
  @include grid('lg');
  .skills .text-sm {
    display: none;
  }
}
    
@media(min-width: 1200px) {
  @include grid('xl');
  .skills .text-sm {
    display: none;
  }
}