@media(max-width: 768px) {
  
  // MOBILE !!!  
  
  /* Main section*/

  /* Hamburger */

  /* Header */
  .page-title {
    font-size: 30px;
  }

  .page-subtitle {
    font-size: 25px;
  }

  .hamburger-icon {
    width: 20px;
    height: 20px;
  }

  /* skills */
  .skills .skill-image {
    height: 100%;
  }

  .skills .skill-description {
    padding: 5px 5px 5px 55%;
    height: 50%;
  }

  .skill-right .skill-description {
    padding: 5px 55% 5px 5px;
    text-align: right;
  }

  .skills .text-lg {
    display: none;
  }

  .skills .text-sm {
    display: block;
  }

  div#offer {
    .container {
      padding: 45px 20px;
    }

    iframe {
      position: inherit;
    }

    canvas {
      margin: 25px 0 25px 0;
    }
  }

  /* portfolio */
  .portfolio .box {
    flex: 0 0 100%;
  }

  /* about */

  .abilities p {
    flex: auto !important;
  }

  /* price */

  .price ol {
    margin-left: 30px;
  }

  /* contact */
  .navigation-menu {
    display: none;
  }

  .companys-data-section {
    background: #f0f0f0;
    flex: 0 0 100%;
    padding-right: 45px;
  }

  .companys-data-section .right a {
    font-size: 13px;
  }

  .companys-data-section .right p {
    text-align: -webkit-left;
  }

  .companys-data-name {
    font-size: 14px;
  }

  .google-maps {
    background: #f0f0f0;
  }

  .form-section {
    flex: 0 0 100%;
  }

  .page-footer .container {
    padding: 0;
    font-size: small;
  }
}

//min-width od mobile first
//max-width od desktop first

@media(min-width: 320px) {
  .navigation {
    display: none;
  }
}

@media(max-width: 768px) {
  
  .portfolio .box {
    flex: 0 0 50%;
  }
}

//tablet
@media(min-width: 426px) {

  .navigation {
    display: block;
  }

  .navigation__container {
    flex-wrap: wrap;
  }

  .navigation__dropdown {
    flex: 1; 
  }

  .navigation__dropdown ul li { 
    flex: 1; 
    border-top: 1px solid white; 
    border-right: 1px solid white; 
    border-bottom: 1px solid white; 
  }
  .navigation__dropdown ul li { 
    padding: 0px 26px; 
  }

  .hamburger {
    display: none;
  }

  .skills .text-sm {
    display: none;
  }

  .nav-svg-icon {
    width: 34px;
  }

  .navigation__contact_wrapper {
    flex: 1;
    .row {
      justify-content: space-between;
      i {
        font-size: 15px;
      }
    }
    .navigation__contact_wrapper__col:first-child {
      border-right: 1px solid white;
      border-top-right-radius: 35px;
      border-bottom-right-radius: 35px;
      .row {
        a:first-child {
          margin-right: 0;
          margin-left: 10px;
          
        }
        a:last-child {
          display: none;
        }
      } 
    }
    .navigation__contact_wrapper__col a {
      font-size: 9px;
    }
    .navigation__contact_wrapper__col:last-child {
      border-right: none;
    }
  }

  .navigation__dropdown {
    ul {
      justify-content: flex-end;
      ul li a {
        font-size: 14px;
      }
    }
  }

  

  //I left it at night at this moment
  /* .navigation__contact_wrapper .row {
    justify-content: end;
  } */
}
@media (min-width: 532px) {
  .navigation__contact_wrapper .navigation__contact_wrapper__col:first-child .row a:last-child {
    display: block;
  }
}

@media (min-width: 670px) {
  .navigation__contact_wrapper .navigation__contact_wrapper__col a {
    font-size: 12px;
  }
}
@media (min-width: 936px) {
  .navigation__contact_wrapper .navigation__contact_wrapper__col:first-child .row a:last-child {
    display: none;
  }
  .navigation__contact_wrapper .navigation__contact_wrapper__col a {
    font-size: 10px;
  }
}

@media(min-width: 992px) {

  .hamburger {
    display: none;
  }

  .skills .text-sm {
    display: none;
  }
}

@media(min-width: 1000px) {
  .navigation__contact_wrapper {
    width: 50%;
    .row {
      justify-content: space-between;
    }
    .row:last-child {
      //border-right: 1px solid white;
    }
  }

  .navigation__dropdown {
    width: 50%;
  }
}
    
@media(min-width: 1024px) { 


  .navigation__contact_wrapper .row {
    
    .navigation__contact_wrapper__col:first-child {
      a:last-child {
        display: none;
      }
    }
    .navigation__contact_wrapper__col:nth-child(2) i {
      display: none;
    }
  }

  .navigation__container li {
    padding: 0 35px;
  }
}

@media(min-width: 1090px) {
  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:first-child a:last-child {
    display: block;
  }
}
    
@media(min-width: 1200px) {

  .hamburger {
    display: none;
  }

  .skills .text-sm {
    display: none;
  }

  .nav-svg-icon {
    width: 40px;
  }

  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:nth-child(2) i {
    display: block;
  }
  
}


@media(min-width: 1320px) {
  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:first-child a:last-child {
    display: inline;
  }
  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:nth-child(2) i {
    display: inline;
  }
  
  .navigation__contact_wrapper__col {
    margin: 5px 1px 5px 5px;
  }

  .navigation__contact_wrapper .row i {
    font-size: 18px;
  }
  .navigation__contact_wrapper .navigation__contact_wrapper__col a {
    font-size: 11px;
  }
}

@media(min-width: 2559px) {
  .navigation__contact_wrapper {
    flex-grow: 1;
  }

  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:first-child {
    margin-right: 155px;
    margin-left: 20px;
    border-right: none;
  }
  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:first-child a:last-child {
    display: inline;

    br {
      display: inline;
      content: " ";
      padding: 0 5px;
    }
  }

  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:nth-child(2), 
  .navigation__contact_wrapper__col:nth-child(3),
  .navigation__contact_wrapper__col:nth-child(4) {
    a br {
      display: inline;
      content: " ";
      padding: 0 5px;
    }
  }
  .navigation__contact_wrapper .row .navigation__contact_wrapper__col:nth-child(2) i {
    display: inline;
  }


  .nav-svg-icon {
    width: 40px;
  }

  .navigation__contact_wrapper__col {
    margin: 5px 0 5px 0;
  }
}