* {
  box-sizing: border-box;
}

@include grid('');  

.container-responsive {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
  
.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-wrap: nowrap; //changed in 26.11.2021 from wrap to nowrap
  align-items: center;
}

// media querry
@media(max-width: 1200px) {
  @include grid('md');
}

@media(max-width: 768px) {
  @include grid('sm');
}
