/* logo */

.logo {
  background: $color-main;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main__logo__wrapper {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $color-main;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.main__logo {
  filter: brightness(0) invert(1);
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.logo_in_dropdown {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  img {
    width: 20px;
    height: 20px;
  }
}

.diamond__icon__incontact {
  margin: 5px;
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}